{
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign",
    "transform-class-properties"
  ],
  "presets": [
    "latest",
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "Chrome >= 48",
            "Firefox >= 44",
            "Firefox ESR",
            "Safari >= 9.1",
            "Edge >= 12",
            "ios_saf >= 9.3",
            "ie 11"
          ],
          "uglify": true,
          "modules": false
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        [
          "istanbul",
          {
            "useInlineSourceMaps": false,
            "exclude": [
              "**/*.test*.js*",
              "**/*.jest*.js*",
              "**/__mocks__/**",
              "**/__snapshots__/**",
              "**/test/**",
              "**/themes/**",
              "**/node_modules/**"
            ]
          }
        ],
        [
          "babel-plugin-styled-components",
          {
            "minify": false
          }
        ]
      ]
    }
  }
}
