{
  "compact": "auto",
  "presets": [
      [
          "latest",
          {
              "es2015": {
                  "modules": false
              }
          }
      ],
      "react"
  ],
  "env": {
      "development": {
          "plugins": [
            "transform-object-rest-spread",
            "transform-object-assign",
            "transform-class-properties"
          ]
      },
      "test": {
          "presets": [
              "latest",
              "react"
          ],
          "plugins": [
              [
                  "istanbul",
                  {
                      "useInlineSourceMaps": false,
                      "exclude": [
                          "**/*.test*.js*",
                          "**/*.jest*.js*",
                          "**/__mocks__/**",
                          "**/__snapshots__/**",
                          "**/test/**",
                          "**/themes/**",
                          "**/node_modules/**"
                      ]
                  }
              ],
              "transform-object-rest-spread",
              "transform-object-assign",
              "transform-class-properties",
              [
                "babel-plugin-styled-components", {
                "minify": false
              }
            ]
          ]
      },
      "production": {}
  },
  "plugins": [
      "transform-object-rest-spread",
      "transform-object-assign",
      "transform-class-properties"
  ]
}
