@include keyframes(grow) {
  0% {
    @include transform(scale(0.5));
  }

  30% {
    @include transform(scale(1.1));
  }

  60% {
    @include transform(scale(0.9));
  }

  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}

@include keyframes(pulse) {
  0% {
    @include transform(scale(0.5));
  }

  33% {
    @include transform(scale(1.1));
  }

  66% {
    @include transform(scale(0.9));
  }

  100% {
    @include transform(scale(0.5));
    opacity: 1;
  }
}

@include keyframes(spinGrow) {
  0% {
    @include transform(rotate(0deg) scale(0.00));
  }

  100% {
    @include transform(rotate(720deg) scale(1.00));
  }
}

.center-and-fade {
  @include transform-origin(50%);
  opacity: 0;
}

.spin-and-grow {
  @include transform-origin(50%);
  opacity: 1;
}

.pulse {
  @include transform-origin(50%);
  opacity: 1;
}