//Custom GF Color Palette
$gf-deep-blue: #0b314a;
$gf-spaceship-blue: #2D7694;
$gf-vacation-blue: #4bcfe4;
$gf-bright-blue: #1ebad6;
$gf-bright-blue-darken: #58acba;
$gf-fluorescent-green: #2ecc71;
$gf-bright-yellow: #ffeb3b;
$gf-fluorescent-green-darken: #24a35a;
$gf-bright-yellow-darken: #ffa000;
$gf-hazy-grey: #555555;
$gf-space-blue: #1C1F2F;
$gf-vouz-blue: #222933;
