
//Make bottom menu Button full width of text
.md-list--menu-below {
  width: auto;
}

#orgs-menu {
  .md-list--menu-below {
    width: 125%;
    margin-left: .2em;
  }
}

// Fix for SVG Icons
.md-icon {
    svg {
        margin-top: -1em !important;
        color: inherit !important;
    }
}

// TODO: Build custom tabs component or toolbar component
.md-tab--inactive {
    color: $md-grey-700;
}

.md-tab--active {
  color: $md-blue-600;
}

.md-tab-indicator {
  display: none;
}

.md-tab--icon {
    font-size: 1.2em;
    height: 57px;
    padding-bottom: 7px;
}

.md-tab-label {
    font-size: .5em;
}
//

.md-btn--toolbar {
  .md-divider--vertical {
    display: inline-block;
    height: 42px;
  }
}

.md-card {
  position: relative;
}

.md-progress {
  &.md-progress--linear {
    margin-top: -.15em;
    position: absolute;
    padding: 0;
    margin: 0;
  }
}

// Table Fixes
.md-table-column {
  cursor: pointer;
}

//Fix Snackbar
.md-snackbar {
  overflow: auto;
}

// Logo Positioning / left actions buttons
.md-cell--right.md-toolbar--action-right {
    position: absolute;
    right: 0;
}

// Hide Cancel Button on expansion panels
.md-expansion-panel {
  footer {
    button {
      &:not(.md-text--theme-primary) {
        display: none;
      }
    }
  }
}

// Fixes font for ace editor
.ace_editor, .ace_editor div {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;

    .ace_line {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;

        span {
            font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }
    }
}

.md-no-paper {
  box-shadow: none;
}