
// Hack the react-md nav bar for stacked icons
@media screen and (min-width: 768px) {
  #main-content {
    margin-left: 70px;
  }

  .md-drawer--left {
    margin-top: 4em;
    transform: translate3d(0, 0, 0);
    width: 70px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .md-drawer--left {
      width: 70px;
  }
}

// reduce padding for menu button text + icons
.md-icon-text:first-child {
    padding-right: 4px;
}

// Make bottom menu Button full width of text
.md-list--menu-below {
  min-width: 100%;
  z-index: 99;
}

#orgs-menu {
  .md-list--menu-tr {
    min-width: 10em;
  }
}

// Fix for SVG Icons
.md-icon {
    svg {
        color: inherit !important;
    }
}

// TODO: Build custom tabs component or toolbar component
.md-tab--inactive {
    color: $md-grey-700;
}

.md-tab--active {
  color: $md-blue-600;
}

.md-tab-indicator {
  display: none;
}

.md-tab--icon {
    font-size: .9em;
    height: 48px;
    padding-bottom: 4px;
}

.md-tab-label {
    font-size: .5em;
}

.md-icon--tab {
  margin-bottom: 2px;
}

// removes ink pulse on tabs
.md-tab {
  .md-ink-container {
    z-index: -1;
  }
}

.md-btn--toolbar {
  .md-divider--vertical {
    display: inline-block;
    height: 42px;
  }
}

.md-card {
  position: relative;
}

.md-progress {
  &.md-progress--linear {
    margin-top: -.15em;
    position: absolute;
    padding: 0;
    margin: 0;
  }
}

//Fix Snackbar
.md-snackbar {
  overflow: auto;
}

// Logo Positioning / left actions buttons
.md-cell--right.md-toolbar--action-right {
    position: absolute;
    right: 0;
    top:0;
}

// Hide Cancel Button on expansion panels
.md-expansion-panel {
  footer {
    button {
      &:not(.md-text--theme-primary) {
        display: none;
      }
    }
  }
}

.md-expansion-panel--expanded:not(:first-child) {
  margin-top: 5px;
}

.md-expansion-panel--expanded:not(:last-child) {
  margin-bottom: 5px;
}

.md-panel-header--expanded {
  height: 48px;
}

.md-no-paper {
  box-shadow: none;
}

.material-icons--primary {
  @extend .material-icons;
  color: $md-blue-500 !important;
}

.md-tooltip-container {
  z-index: 18;

  span {
    border-radius: 4px;
  }
}

.md-dialog {
  border-radius: 4px;
}

.md-tile-content--left-icon {
  padding-left: 16px;
}

.md-table-column--data {
  vertical-align: middle !important;
}
