// reduce padding for menu button text + icons
.md-icon-text:first-child {
    padding-right: 4px;
}

// Make bottom menu Button full width of text
.md-list--menu-below {
  min-width: 100%;
  z-index: 99;
}

.md-btn--toolbar {
  .md-divider--vertical {
    display: inline-block;
    height: 42px;
  }
}

.md-card {
  position: relative;
}

.md-progress {
  &.md-progress--linear {
    margin-top: -.15em;
    position: absolute;
    padding: 0;
    margin: 0;
  }
}

//Fix Snackbar
.md-snackbar {
  overflow: auto;
}

// Logo Positioning / left actions buttons
.md-cell--right.md-toolbar--action-right {
    position: absolute;
    right: 0;
    top:0;
}

.md-expansion-panel--expanded:not(:first-child) {
  margin-top: 5px;
}

.md-expansion-panel--expanded:not(:last-child) {
  margin-bottom: 5px;
}

.md-panel-header--expanded {
  height: 52px;
}

.md-no-paper {
  box-shadow: none;
}

.material-icons--primary {
  @extend .material-icons;
  color: $md-blue-500 !important;
}

.md-tooltip-container {
  z-index: 18;

  span {
    border-radius: 4px;
  }
}

.md-dialog {
  border-radius: 4px;
}

.md-tile-content--left-icon {
  padding-left: 16px;
}
