@import '~sanitize.css/sanitize.css';
@import '~flexybox/dist/flexybox.scss';
@import '~react-md/src/scss/react-md';
@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'reset';
@import 'typography';
@import 'animations';
@import 'theme';
@import 'overrides';

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app-root {
  height: 100%;

  #app-wrapper {
    height: 100vh;
  }
}

.logo-container {
  text-align: center;
  margin: 0;

  .logo {
    svg {
      height: 1.8em;
      width: 1.8em;
    }
  }

  .logo-loading {
    animation: pulse 1s infinite forwards;
    @extend .pulse;
    animation-delay: 1s; // prevent from happening on "normal" latency requests
  }
}

.active-link * {
  color: $md-blue-500;
}
