@import '~sanitize.css/sanitize.css';
@import '~flexybox/dist/flexybox.scss';
@import '~react-md/src/scss/react-md';
@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'reset';
@import 'typography';
@import 'animations';
@import 'theme';
@import 'overrides';

html, body {
     min-height: 100%;
     height: 100%;
}
body {
    font-family: Ubuntu, Roboto, Arial, Consolas, Courier, monospace;
    position:relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#app-root {
    height: 100%;
    // Fixes issue with react-md navication drawer and html 100% height
    main {
        margin-top: 0;
        padding-top: 2em;
        @media (min-width: 0) and (max-width: 768px) {
             padding-top: 1.8em;
        }
        // @media (min-width: 454px) and (max-width: 768px) {
        //      padding-top: 1.8em;
        // }
    }
}
//TODO: Create component style
.org-nav-menubutton {
    height: 100%;
    font-size: 12px;
}

.flex {
    flex: 1;
}
.layout-fill {
    padding: 0;
    margin: 0;
    height: 100%
}

/* drawer menu pane - note the 0px width */
.wrapper {
    float: left;
    width: 100%;
    height: 100vh;
}

.logo-container {
    z-index: -999;
    margin: 0;
    text-align: center;
    height: 100%;
    div {
        margin: 0;
        .logo {
            // animation: spinGrow .6s ease-out forwards;
            // @extend .spin-and-grow;
            margin-right: 2.2em;
            svg {
                height: 2.1em;
                width: 2.1em;
            }
        }

        .logo-loading {
            animation: pulse 2s infinite forwards;
            animation-delay: .5s; // prevent from happending on fast requests
            @extend .pulse;
        }
    }
}

.workspace-card {
    border-top: 2px solid $md-light-blue-200;
}

.environment-card {
    border-top: 2px solid $md-yellow-600;
}

