$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-blue-a-200;

@include react-md-everything;

// Future Dark Theme
@include react-md-theme-everything(
  $md-primary-color,
  $md-secondary-color,
  false, // specifying dark-theme
  'dark-theme' // class name to wrap dark-theme styles in - place on main or body as class
);

.md-toolbar--over-drawer, .md-toolbar--fixed {
    background-color: $gf-deep-blue;
}
