.gf-headline {
  font-size: 20px;
  font-weight: 400;
  color: $md-grey-800;
  min-height: 1.5em;
}

.gf-headline-1 {
  font-size: 18px;
  font-weight: 400;
  color: $md-grey-800;
}

.gf-subtitle {
  font-size: 13px;
  color: $md-grey-800;
}

.gf-caption {
  font-size: 12px;
  color: $md-grey-800;
}

.gf-caption-sm {
  font-size: 11px;
  color: $md-grey-800;
}

.gf-caption-plain {
  font-size: 12px;
}

.gf-label {
  font-size: 13px;
  font-weight: 700;
  color: $md-grey-800;
}

.gf-timestamp {
  position: absolute;
  padding: 1em;
  right: 0;
}

.gf-no-link {
  color: inherit;

  &:link {
      text-decoration: none;
  }

  &:visited {
      text-decoration: none;
  }

  &:hover {
      text-decoration: none;
  }

  &:active {
      text-decoration: underline;
  }
}
