$font-path: '../assets/fonts/';

@font-face {
  font-family: 'lovelo';
  src: url('#{$font-path}/lovelo_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* GOOGLE FONTS */
// Roboto
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin),
      font-url("#{$font-path}Roboto-Thin.woff2") format("woff2"),
      font-url("#{$font-path}Roboto-Thin.woff") format("woff");

  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light),
      font-url("#{$font-path}Roboto-Light.woff2") format("woff2"),
      font-url("#{$font-path}Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular),
      font-url("#{$font-path}Roboto-Regular.woff2") format("woff2"),
      font-url("#{$font-path}Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium),
      font-url("#{$font-path}Roboto-Medium.woff2") format("woff2"),
      font-url("#{$font-path}Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold),
      font-url("#{$font-path}Roboto-Bold.woff2") format("woff2"),
      font-url("#{$font-path}Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

//Font Icons
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
