.md-tooltip-container {
  z-index: 18;

  span {
    border-radius: 4px;
  }
}

.md-dialog {
  border-radius: 8px;
}

.md-tile-content--left-icon {
  padding-left: 16px;
}

// fixes action icons on toolbar
.md-toolbar--action-right {
  .md-inline-block {
    vertical-align: middle;
    @media screen and (max-width: 599px) {
      margin-top: 2px;
    }
  }
}
