@media screen and (max-width: 1025px) {
  .material-icons.md-icon {
    font-size: 20px;
  }
}

.md-card {
  position: relative;
}

.md-progress {
  &.md-progress--linear {
    margin-top: -.15em;
    position: absolute;
    padding: 0;
    margin: 0;
  }
}

.md-no-paper {
  box-shadow: none;
}

.md-tooltip-container {
  z-index: 18;

  span {
    border-radius: 4px;
  }
}

.md-dialog {
  border-radius: 3px;
}

.md-tile-content--left-icon {
  padding-left: 16px;
}

// fixes action icons on toolbar
.md-toolbar--action-right {
  .md-inline-block {
    vertical-align: middle;
    @media screen and (max-width: 599px) {
      margin-top: 2px;
    }
  }
}
