.md-card {
  position: relative;
}

.md-progress {
  &.md-progress--linear {
    margin-top: -.15em;
    position: absolute;
    padding: 0;
    margin: 0;
  }
}

//Fix Snackbar
.md-snackbar {
  overflow: auto;
}

.md-expansion-panel--expanded:not(:first-child) {
  margin-top: 5px;
}

.md-expansion-panel--expanded:not(:last-child) {
  margin-bottom: 5px;
}

.md-panel-header--expanded {
  height: 52px;
}

.md-no-paper {
  box-shadow: none;
}

.md-tooltip-container {
  z-index: 18;

  span {
    border-radius: 4px;
  }
}

.md-dialog {
  border-radius: 4px;
}

.md-tile-content--left-icon {
  padding-left: 16px;
}

// fixes action icons on toolbar
.md-toolbar--action-right {
  .md-inline-block {
    vertical-align: middle;
    @media screen and (max-width: 599px) {
      margin-top: 2px;
    }
  }
}

.md-table-column--adjusted {
  padding-right: 32px;
}
