// Deal with disabled links properly
a[disabled] {
  pointer-events: none;
}

/* Override stupid chrome autofill yellow inputs ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 500px white inset;
}

// Disable Google Chrome Blue Field Outline
textarea, input, *:focus {
  outline: none !important;
}

/* Override react-flexybox when using flex to overflow hidden */
.flex {
  overflow: hidden;
}

