// Fix for react-md next/sanitize
a[type=button] {
  appearance: none;
  -webkit-appearance: none;
}

// Fix for icon vertical aligmen sanitize.scss
.material-icons {
  vertical-align: top;
}

/* Override stupid chrome autofill yellow inputs ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $md-white inset;
}

/* Override react-flexybox when using flex to overflow hidden */
.flex {
  overflow: hidden;
}

// Deal with disabled links properly
a[disabled] {
  pointer-events: none;
}
