@import '~sanitize.css/sanitize.css';
@import '~react-md/src/scss/_react-md';
@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'reset';
@import 'animations';
@import 'theme';
@import 'overrides';

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app-root {
  height: 100%;
  width: 100%;
}
