@import '~sanitize.css/sanitize.css';
@import '~react-md/src/scss/react-md';
@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'reset';
@import 'animations';
@import 'theme';
@import 'overrides';

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app-root {
  height: 100%;

  #app-wrapper {
    height: 100vh;
  }
}

.text-danger {
  color: red;
}
