@import '~sanitize.css/sanitize.css';
@import 'fonts';
@import 'colors';
@import 'reset';
@import 'theme';

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 100%;
}

* {
  -webkit-overflow-scrolling: touch;
}

#app-root {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  height: 100%;
}
